body {
	font-family: 'Open Sans', sans-serif !important;
}

h1 {
	font-weight: 500;
	font-size: 27px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

hr {
	width: 55px;
	margin: auto;
	border: 1px solid black;
	margin: 20px auto;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

span.amee {
	color: #ffffff;
	background-color: #104d72;
	padding: 0 5px;
}

.video-wrap {
	background-color: #000000;
	opacity: 0.7;
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -5;
}

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -10;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
}

section[name="nav"] {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px 0 0px 0;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	z-index: 100;
}

section[name="nav"] .row {
	max-width: 1200px;
}

section[name="nav"] ul {
	list-style: none;
	text-align: right;
}

section[name="nav"] li {
	list-style: none;
	display: inline-block;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 100px;
	padding: 0 15px;
	position: relative;
	top: 3px;
}

section[name="nav"] li a {
	color: #ffffff;
}

section[name="nav"] img {
	height: 30px;
}

section[name="nav"] .power {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
	color: #ffffff;
	font-weight: 100;
	font-size: 12px;
	
}

section[name="nav"].scroll {
	background-color: rgba(255,255,255,0.95);
	border-bottom: 1px solid #d1d1d1 !important;
	transition: 0.6s;
}

section[name="nav"].scroll li a {
	color: #212739 !important;
}

section[name="nav"].scroll .power {
	color: #000000;
}

section[name="header"] {

	height: 100%;
	padding-top: 200px;
	
	overflow: hidden;
}

section[name="header"] .row {
	max-width: 1200px;
}

section[name="header"] h1 {
	font-family: 'Raleway';
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	color: #ffffff;
	padding: 0;
	letter-spacing: 3px;
}

section[name="header"] h2 {
	font-family: 'Raleway';
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: 100;
	padding: 0;
}

section[name="header"] h3 {
	font-family: 'Raleway';
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-weight: 100;
	padding: 0;
}

section[name="header"] h4 {
	font-family: 'Raleway';
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-weight: 100;
	padding: 30px 0;
}

section[name="header"] hr {
	width: 55px;
	margin: auto;
	border: 1px solid #ffffff;
	margin-top: 20px;
}

section[name="header"] a.button {
	padding: 20px 60px;
	background-color: #e67e22;
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: 500;
}

section[name="header"] a.button:hover {
	transition: 0.7s;
	background-color: #ecf0f1;
	color: black;
}

section[name="about"] {
	background-color: #ffffff;
	padding: 50px 0;
}

section[name="about"] .row {
	text-align: center;
}

section[name="about"] p {
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

section[name="about2"] {
	max-width: 100% !important;
	padding: 0;
	margin: 0;
}

section[name="about2"] .row {
	max-width: 100%;
}

section[name="about2"] .row, section[name="about2"] .columns {
	padding: 0;
	margin: 0;
}

section[name="about2"] .lefta, section[name="about2"] .righta {
	background-color: #b4b4b4;
	display: block;
	height: 310px;
}

section[name="about2"] .cover {
	opacity: 0;
	background-color: #256a97;
	height: 100%;
	text-align: center;
	padding-top: 140px;
	
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	color: #ffffff;
}

section[name="about2"] .lefta:hover > .cover, section[name="about2"] .righta:hover > .cover {
	opacity: 100;
	cursor: pointer;
	transition: 0.5s;
}

section[name="about2"] .content {
	background-color: #212739;
	height: 310px;
	color: #ffffff;
}

section[name="about2"] .content .columns {
	padding: 40px 20px;
}

section[name="about2"] .content p {
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: #388bc1;
}

section[name="about2"] .content .number {
	font-size: 60px;
	font-weight: 500;
	color: #ffffff;
}

section[name="about2"] .content .title {
	font-size: 15px;
	padding-bottom: 15px;
	font-weight: 500;
	color: #ffffff;
}

section[name="schedule"] {
	padding: 50px 0;
	background-color: #ffffff;
}

section[name="schedule"] .row {
	max-width: 100%;
}

section[name="schedule"] .columns {
	margin: 0;
	padding: 0;
}

section[name="schedule"] .tabs {
	width: 100%;
	margin: 0;
	padding: 0;
}

section[name="schedule"] .tabs .tab-title {
	width: 33.33%;
	font-size: 13px;
}

section[name="schedule"] .tabs .tab-title a {
	padding: 3px 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background-color: #212739;
	color: #ffffff;
}

section[name="schedule"] .tabs .tab-title.active a {
	background-color: #256a97;
	border: 0;
	outline: 0;
}

section[name="schedule"] .tabs-content {
	padding: 30px 50px;
}

section[name="schedule"] .tabs-content .row {
	max-width: 1100px;
	margin: auto;
}

section[name="schedule"] .tabs-content p {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #626262;
	letter-spacing: 1px;
}

section[name="schedule"] .tabs-content .time {
	border-top: 4px solid #256a97;
	padding: 15px 0;
	font-weight: 400;
	font-size: 13px;
}

section[name="schedule"] .tabs-content .title {
	border-top: 1px solid #000000;
	padding: 15px 10px 0 10px;
	text-transform: uppercase;
	font-size: 13px;
}

section[name="schedule"] .tabs-content .subtitle {
	font-size: 13px;
	padding: 0 10px 15px 10px;
}

section[name="schedule"] .tabs-content .subtitle strong {
	font-weight: 600;
}

section[name="schedule"] .tabs-content .click {
	cursor: pointer;
}

section[name="schedule"] .tabs-content .selected .title, section[name="schedule"] .tabs-content .selected .subtitle {
	color: #256a97;
}

section[name="schedule"] .tabs-content .selected .title {
	border-top: 1px solid #256a97;
}

section[name="schedule"] .tabs-content .details p {
	color: #7f7f7f;
	font-size: 12px;
}

section[name="schedule"] .tabs-content .venue {
	padding: 15px 0 0 0;
}

section[name="schedule"] .tabs-content .cont {
	padding: 15px 10px;
	border-top: dashed 1px #7f7f7f;
}


section[name="schedule"] h3 {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: #256a97;
	padding-bottom: 25px;
}

section[name="organisers"] {
	background-color: #212739;
	padding: 50px 0;
}

section[name="organisers"] h1 {
	color: #ffffff;
}

section[name="organisers"] hr {
	border: 1px solid #ffffff;
}

section[name="organisers"] p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	padding: 0;
	margin: 0;
}

section[name="organisers"] img {
	margin-top: 30px;
	border-radius: 3px;
	height: 180px;
	width: 180px;
}

section[name="organisers"] p.name {
	font-weight: 600;
	margin-top: 10px;
}

section[name="organisers"] p.position {
	font-weight: 300;
	font-size: 12px;
	max-width: 220px;
	opacity: 0.8;
}

section[name="organisers"] h3, section[name="organisers"] h2 {
	color: #ffffff;
}

section[name="organisers"] h3 {
	margin-top: 50px;
}

section[name="organisers"] h2 {
	margin-bottom: 30px;
}

section[name="organisers"] .elearning p {
	padding: 15px 0 15px 0;
	font-weight: 100;
	opacity: 0.8;
}

section[name="sponsors"] {
	padding: 50px 0;
	background-color: #ffffff;
}

section[name="sponsors"] p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 0px 0;
	margin: 0;
}

section[name="sponsors"] .tier {
	padding: 30px 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
}

section[name="sponsors"] .headline {
	color: #528ea6;
}

section[name="sponsors"] .core {
	color: #454545;
	font-size: 14px;
}

section[name="mentors"] {
	background-color: #212739;
	padding: 50px 0;
}

section[name="mentors"] h1 {
	color: #ffffff;
}

section[name="mentors"] hr {
	border: 1px solid #ffffff;
}

section[name="mentors"] p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	padding: 0;
	margin: 0;
}

section[name="mentors"] img {
	margin-top: 30px;
	border-radius: 50%;
	height: 120px;
	width: 120px;
}

section[name="mentors"] p.name {
	font-weight: 600;
	margin-top: 10px;
}

section[name="mentors"] p.position {
	font-weight: 300;
	font-size: 12px;
	max-width: 220px;
	opacity: 0.8;
}

section[name="mentors"] h3 {
	color: #ffffff;
	margin-top: 40px;
}

section[name="map"] {
	height: 350px;
	background-image: url("http://www.footiemap.com/country/scotland/maps/glasgow.jpg");
	background-size: cover;
	background-position-y: -250px;
}

section[name="map"] .box {
	background-color: rgba(255,255,255,0.9);
	padding: 20px 30px;
	margin-top: 50px;
	height: 250px;
	width: 350px;
}

section[name="map"] .box p {
	padding: 0;
	margin: 0;
}

section[name="map"] .box .location {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2em;
}

section[name="map"] .box .date {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

section[name="map"] .box .link {
	font-size: 14px;
	padding-top: 15px;
}

section[name="apply"] {
	background-image: url("../img/secc.jpg");	
	background-size: cover;
	background-position-y: -200px;
	padding: 50px 0;
}

section[name="apply"] p {
	color: #ffffff;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 30px;
}

section[name="apply"] select {
	display: inline-block;
	width: auto;
	background: transparent;
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px dashed #ffffff;
    color: #ffffff;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	height: auto;
	cursor: pointer;
	width: 160px;
	outline: none;
}

section[name="apply"] #width_tmp{
	display : none;
}

section[name="apply"] .applybtn {
	padding: 10px 25px;
	color: #ffffff;
	background-color: #e67e22;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

section[name="apply"] .applybtn:hover {
	background-color: rgba(230,126,35,0.8);
	transition: 0.5s;
}

section[name="footer"] {
	background-color: #ffffff;
	padding: 7px 0;
	text-align: center;
}

section[name="footer"] p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}